<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/formularios.css">
    <link rel="stylesheet" href="https://fontawesome.com/search?o=r&m=free"  />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>

    <header>

        <section class="seccion1">

            <div class="logo">
                <a href="/"><img src="img/logo-mercado-liebre.svg"></a>
            </div>
            
            <div class="barraBusqueda">
                <input class="inputBarra" type="text" placeholder="Buscar productos, marcas y más..." >
                <button class="botonBarra"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>

            <div class="compra">
                <h4><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</h4>
            </div>
           
        </section>

        <nav >

            <div class="navDesktop">

                <div class="informacionEnvio">
                    <i class="fa-solid fa-location-dot iconoDireccion" style="color: #000000;"></i>
                    <div>
                        <p class="nombre">Enviar a Nombre</p>
                        <p class="direccion">Direccion 1234</p>
                    </div>
                </div>
            
                <ul class="primeraLista" >
                    <li>Ofertas</li>
                    <li>Tiendas Oficiales</li>
                    <li>Vender</li>
                    <li>Ayuda</li>
                   
                </ul>

                <ul class="segundaLista">
                    <li><a href="/register">Crea tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
                    <li><a href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li>Mis compras <i class="fa-solid fa-basket-shopping"></i></li>
                </ul>

            </div>

        </nav>

        <nav class="navMobile"> <button class="botonNav"><i class="fa-solid fa-bars " style="color: #0c1018;"></i></button></nav>

    </header>


    <main>

        <section class="formulario">

            <p class="tituloFormulario">Complete el siguiente Formulario</p>

            <form >
                
                <input class="dato" type="text" placeholder="Nombre de Usuario">
                
                <input  class="dato" type="password" placeholder="Contraseña">
                
                <div class="dato botonesFormulario">

                    <button class="boton"><a href="/">Enviar</a></button>

                </div>
                

            </form>
        </section>
    </main>

    <footer>

        <section class="informacionFooter">
            <div class="articulo">

                <i class="fa-regular fa-credit-card iconoArticulo"></i>
                <h4>Paga con tarjeta o efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>

            <div class="articulo">

                <i class="fa-solid fa-gift iconoArticulo"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>

            <div class="articulo">

                <i class="fa-solid fa-user-shield iconoArticulo" style="color: #000000;"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
        </section>

        <div class="copyright"> 
            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
        </div>

    </footer>

    <script src="https://kit.fontawesome.com/687ebfe002.js" crossorigin="anonymous"></script>
    
</body>
</html>